@CHARSET "UTF-8";

#floatleft {
	margin-top: 10px;
	text-align: left;
	color: #05EDFF;
	
}

.navbar-button>ul>li>form>input {
	margin: 5px;
	color: white;
	font-family: "Courier New", Courier, monospace;
	background: transparent;
	border-style: none;
}

.navbar-button>ul>li>input {
	margin: 5px;
	color: white;
	font-family: "Courier New", Courier, monospace;
	background: transparent;
	border-style: none;
}

.search-bar {
	margin-top: 18px;
}

#bs-example-navbar-collapse-1 search-text>ul>li {
	color: #05EDFF;
}


#user {
	text-align: center;
}

#login {
	text-align: center;
}

#createuserspan {
	color: white;
	cursor: pointer;
	font-size: 175%;
	text-align: left;
}

#loginspan {
	color: white;
	cursor: pointer;
	font-size: 175%;
	text-align: left;
}

.questionBlock {
	margin: 5px;       
    color: white;      
    font-family: "Courier New", Courier, monospace;
    background: transparent;
    border-style: none;
}



#logoimage{
	text-align:left; 	
}



























#admin-user {
	margin: 100px;
	color: black;
	font-family: "Courier New", Courier, monospace;
	background: transparent;
	border-style: none;
}






article {
	padding: 10px;
	background: rgba(200, 200, 200, .5);
	margin-left: 5%;
	margin-right: 5%;

}
.text-body{
	padding: 20px;;
}

article .content_w {
  overflow: hidden;
  height: 0;
}
article .content_w.transition {
  -webkit-transition: height 0.5s;
     -moz-transition: height 0.5s;
       -o-transition: height 0.5s;
          transition: height 0.5s;
}



.button-answer-row td input{
	margin: 5px;
	font-weight: bold;
	color: gray;
	font-family: "Courier New", Courier, monospace;
	background: transparent;
	border-style: none;
}

.button-answer {
	margin: 5px;
	font-weight: bold;
	color: gray;
	font-family: "Courier New", Courier, monospace;
	background: transparent;
	border-style: none;
	display: inline;
}

.answer-function {
	display: inline;
}

.tagLink {
	display: inline;
}

.singleTag {
	background-color: #ffaa77;
}





.question{
	background-color: white;
}

.answerBlock {
	background-color: #ddeeff;
	margin-top: 1em;
	padding: 1em;
}

.postQuestionBlock {
	margin: 5em;
	margin-top: 170px;
	margin-bottom: 1em;
	background-color: #ddeeff;
}

.pqinputblock {
	display: block;
	margin: 1em;
}

snippet {
	margin: 1em;
}

.submit-question>input{
	margin-top: 48px;
	font-weight: bold;
	color: gray;
	font-family: "Courier New", Courier, monospace;
	background: transparent;
	border-style: none;
}


.body-container-question-post{
float: left;
width: 50%;
}
.body-container-answer-post{
float: left;
width: 22%;
}
.body-container-submit-post{
float: left;
width: 22%;
}

post-container{
	clear: both;
}


button-answer-row{
	display: inline-block;
}


.content{
	margin-left: 150px;
}
.question-comment-block{
	width: 80%;
	margin-left: 140px;
}
.body-container {
	height: 100px;
	margin-top:170px;
	margin-left: 5px;
	color: white;
	font-family: "Courier New", Courier, monospace;
	background: transparent;
	border-style: none;
}

#backgroundimage {
	background  : url("jobsandwoz.png");
	background-repeat: no-repeat;
	background-size: cover; 
	
}

.containerdiv {
	float: center;
	position: relative;
}

.top {
	position: fixed;
	top: 40%;
	left: 25%;
	margin-top: -50px;
	margin-left: -100px;
}
#questionandanswer {
	color: white; 
	text-align:center; 
}
.logged{
	list-style-type:none; 
}
#imageandquestion { 
	text-align:center; 
	
}
#recentQuestion {
	color:white; 
}
#question{
	color:white; 
}
#postedby{
	color:white; 
}
#divider{
	color:white; 
}
#welcome {
	text-align:center; 
	text-decoration: underline; 
}
#admin-list{
	list-style:none; 
}
#main-nav-bar {
	display:inline; 
}
#line{
	color:white;
}
#admin-user-list{
	background:gray; 
}
/* #admin-user-list:nth-child(odd) { 
	background:white; 
} */
#admin-user{
	
}




















