@CHARSET "UTF-8";

#floatleft {
	margin-top: 10px;
	text-align: left;
	color: #05EDFF;
	
}

input {
	
}

.navbar-button>ul>li>input {
	margin: 5px;
	color: white;
	font-family: "Courier New", Courier, monospace;
	background: transparent;
	border-style: none;
}

.search-bar {
	margin-top: 18px;
}

#bs-example-navbar-collapse-1 search-text>ul>li {
	color: #05EDFF;
}


#user {
	text-align: center;
}

#login {
	text-align: center;
}

#createuserspan {
	color: white;
	cursor: pointer;
	font-size: 175%;
	text-align: left;
}

#loginspan {
	color: white;
	cursor: pointer;
	font-size: 175%;
	text-align: left;
}

.questionBlock {
	margin: 5px;       
    color: white;      
    font-family: "Courier New", Courier, monospace;
    background: transparent;
    border-style: none;
}
#logoimage{
	text-align:left; 
	
}
#searchbar{
	
}
#loginandcreate{
	
}



































article {
	padding: 10px;
	background: rgba(200, 200, 200, .5);
	margin-left: 5%;
	margin-right: 5%;

}
.text-body{
	padding: 20px;;
}

article .content_w {
  overflow: hidden;
  height: 0;
}
article .content_w.transition {
  -webkit-transition: height 0.5s;
     -moz-transition: height 0.5s;
       -o-transition: height 0.5s;
          transition: height 0.5s;
}



.button-answer-row td input{
	margin: 5px;
	font-weight: bold;
	color: gray;
	font-family: "Courier New", Courier, monospace;
	background: transparent;
	border-style: none;
}






.question{
	background-color: white;
}

.submit-question>input{
	margin-left: 20px;
	margin-top: 48px;
	font-weight: bold;
	color: gray;
	font-family: "Courier New", Courier, monospace;
	background: transparent;
	border-style: none;
}

.content{
	margin-left: 150px;
}

.body-container{
	margin:170px;
	margin: 5px;
	color: white;
	font-family: "Courier New", Courier, monospace;
	background: transparent;
	border-style: none;
}

#backgroundimage {
	background-image:
		url("https://images.unsplash.com/photo-1442512595331-e89e73853f31?crop=entropy&dpr=2&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1275");
	background-repeat: no-repeat;
	background-size: cover;
	
}

.containerdiv {
	float: center;
	position: relative;
}

.top {
	position: fixed;
	top: 40%;
	left: 25%;
	margin-top: -50px;
	margin-left: -100px;
}
#questionandanswer {
	color: white; 
	text-align:center; 
}
.logged{
	list-style-type:none; 
}
#imageandquestion { 
	text-align:center; 
	
}
#recentQuestion {
	color:white; 
}
#question{
	color:white; 
}
#postedby{
	color:white; 
}
#divider{
	color:white; 
}






















